# This patch image pull secret for private image repository
# modify secret name (default: regcred) to the secret name in ../secret/secret-key.yaml
apiVersion: net.cogadvisor.io/v1
kind: Config
metadata:
  name: multi-nicd
spec:
  daemon:
    imagePullSecretName: ${DAEMON_SECRET_NAME}