# This patch image pull secret for private image repository
# modify secret name (default: regcred) to the secret name in ../secret/secret-key.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: controller-manager
  namespace: system
spec:
  template:
    spec:
      imagePullSecrets:
      - name: ${OPERATOR_SECRET_NAME}